<template>
    <style>
        ux-dialog-container.active .modal.fade.stick-up .modal-dialog {
            -webkit-transform: translateZ(0);
            transform: translateZ(0);
            -ms-transform: translate(0);
        }

        .ux-dialog-open {
            overflow: hidden;
        }

            .ux-dialog-open .modal {
                overflow-x: hidden;
                overflow-y: auto;
            }
    </style>

    <ux-dialog>
        <ux-dialog-body>
            <div class="modal fade stick-up" id="modalDuyet" data-backdrop="static" role="dialog" aria-hidden="true" style="display: block;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header clearfix text-left">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                <i class="pg-close fs-14"></i>
                            </button>
                            <h3 class="text-center m-t-20 m-b-20">
                                Xác nhận duyệt
                            </h3>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-12 m-t-10 text-center">
                                    <button type="button" class="btn btn-danger  m-t-5" data-dismiss="modal">Hủy</button>
                                    <button type="button" class="btn btn-primary  m-t-5" data-dismiss="modal">Hoàn thành</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ux-dialog-body>
    </ux-dialog>
</template>