<template>
  <loading loading.bind="loading">
    <!--nhung gi chứa trong thẻ loading dc add vào vị trí slot của loading control-->
    <div class="row">
      <div class="pull-left">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="btn-group">
            <button repeat.for="button of entityBase.getButtons()" if.bind="isButtonLeftTop(button)" click.delegate="onButtonEvent(null,button)"
              class.bind="button.Class">
                        <i class.bind="button.Icon"></i> ${button.Title}
                    </button>

            <button class="btn btn-default" click.delegate="loadData()">
                    <i class="fa fa-rotate-left"></i>
                </button>
          </div>
        </div>
      </div>
      <div class="pull-right">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="btn-group">
            <button repeat.for="button of entityBase.getButtons()" if.bind="isButtonRightTop(button)" click.delegate="onButtonEvent(null,button)"
              class.bind="button.Class">
                        <i class.bind="button.Icon"></i> ${button.Title}
                    </button>
          </div>
        </div>
      </div>
    </div>
    <div class="table table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th if.bind="useCheckbox" style="width: 50px;padding: 10px 11px !important;">
              <checkbox checked-event.call="checkAll($event)"></checkbox>
            </th>
            <th repeat.for="header of entityBase.getHeaders()" css="width: ${header.Width};">${header.Title}</th>
            <th if.bind="entityBase.getButtons() && hasButtonInGrid()" style="width: 70px"></th>
          </tr>
        </thead>
        <tbody>
          <tr repeat.for="item of sources">
            <td if.bind="useCheckbox" class="v-align-middle">
              <checkbox value.bind="item.checked"></checkbox>
            </td>
            <td repeat.for="header of entityBase.getHeaders()" class="v-align-middle">
              <img if.bind="isFieldImage(header)" src.bind="item.data[header.Name] ? item.data[header.Name] : defaultImageUrl" />
              <template if.bind="isFieldText(header)">
                ${item.data[header.Name]}
              </template>
<template if.bind="isFieldDate(header)">
                ${item.data[header.Name] | dateFormat}
              </template>
<template if.bind="isFieldNumber(header)">
                ${item.data[header.Name] | currencyFormat}
              </template>
<template if.bind="isFieldCurrencyTag(header)">
                <span innerhtml.bind="item.data[header.Name] | currencyTag"></span>
              </template>
<template if.bind="isFieldStatusRecord(header)">
                <span innerhtml.bind="item.data[header.Name] | statusRecord"></span>
              </template>
<button repeat.for="button of entityBase.getButtons()" if.bind="isFieldButton(header, button)" click.delegate="onButtonEvent(item.data, button)" class.bind="button.Class">
                        <i class.bind="button.Icon"></i> ${button.Title}
                    </button>
</td>
<td class="v-align-middle" if.bind="entityBase.getButtons() && hasButtonInGrid()">
    <div class="dropdown pull-right">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-cog"></i>
                            </button>
        <ul class="dropdown-menu profile-dropdown" role="menu">
            <li repeat.for="button of entityBase.getButtons()">
                <a if.bind="isButtonInGrid(button)" click.delegate="onButtonEvent(item.data, button)"><i class="${button.Icon}"></i> ${button.Title}</a>
            </li>
        </ul>
    </div>

</td>
</tr>
</tbody>
</table>
<paginator view-model.ref="paginator" select-page-event.call="onSelectPage($event)"></paginator>
</div>
</loading>
</template>
