<template>
    <nav aria-label="Page navigation" class="text-center" if.bind="pager.pages && pager.pages.length">
      <ul class="pagination">
        <template repeat.for="page of pager.pages">
          <li if.bind="$first" class="${ pager.currentPage === 1 ? 'disabled' : '' }">
            <a aria-label="Previous" click.delegate="setPage(pager.currentPage - 1)"> <span aria-hidden="true"> <i class="fa fa-angle-left"></i> </span></a>
          </li>
          <li if.bind="pager.currentPage === page" class="active"><a href="javascript:;">${page}</a></li>
          <li if.bind="pager.currentPage !== page"><a click.delegate="setPage(page)">${page}</a></li>
          <li if.bind="$last" class="${ pager.currentPage === pager.totalPages ? 'disabled' : '' }">
            <a aria-label="Next" click.delegate="setPage(pager.currentPage + 1)"><span aria-hidden="true"> <i class="fa fa-angle-right"></i> </span></a>
          </li>
        </template>
      </ul>
    </nav>
</template>
