﻿<template>
  <div id.bind="id" class="loader-content" css="display: ${loading ? 'block' : 'none'}">
    <div class="sk-chasing-dots">
      <div class="sk-child sk-dot1"></div>
      <div class="sk-child sk-dot2"></div>
    </div>
  </div>
  <slot></slot>
  <!--dùng để chứa 1 content-->
</template>