<template>
  <div class="form-group-attached">

    <div class="row">
      <div class="col-sm-12">
        <div class="checkbox check-primary">
          <input type="checkbox" checked="checked" value="" name="optionyes" id="usd">
          <label for="usd">USD</label>
          <input type="checkbox" checked="checked" value="" name="optionyes" id="vnd">
          <label for="vnd">VND</label>

          <input type="checkbox" value="" name="optionyes" id="eur">
          <label for="eur">EUR</label>

          <input type="checkbox" value="" name="optionyes" id="gpt">
          <label for="gpt">GBP</label>

          <input type="checkbox" value="" name="optionyes" id="jpy">
          <label for="jpy">JPY</label>
        </div>
      </div>
      <div class="col-sm-8">
        <table class="table table-hover table-small" id="">
          <thead>
            <tr>
              <th style="width:20%">Loại tiền</th>
              <th style="width:50%">Số tiền chuyển trước</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="v-align-middle bold">USD</td>
              <td class="v-align-middle">
                <input type="text" data-m-dec="0" data-a-dec="." data-a-sep="," class="autonumeric form-control">
              </td>

            </tr>


            <tr>
              <td class="v-align-middle bold">VND</td>

              <td class="v-align-middle">
                <input type="text" data-m-dec="0" data-a-dec="." data-a-sep="," class="autonumeric form-control">
              </td>

            </tr>


          </tbody>
        </table>

      </div>


    </div>

    <!--<button class="btn btn-tag   btn-tag-light btn-tag-rounded m-t-10" type="button" data-toggle="modal" data-target="#addMoneyType">Thêm mới</button>-->
  </div>
</template>